.Module.symvers.cmd
.modules.order.cmd
Module.symvers
arm-trusted-firmware/
busybox/
k3-image-gen/
linux/
modules.order
optee_os/
ti-linux-firmware/
ti/
u-boot/

apps/hello/hello
apps/drmtest/drmtest
apps/iiotest/iiotest
apps/pong/pong

*.o
*.ko
*.cmd
*.mod
*.mod.c
